* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333333;
  font-family: "DM Serif Display";
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 24px;
}

p {
  font-size: 14px;
  margin: 0;
  font-family: "Inter";
}
